.css_numero_label { }
.css_numero_line {text-align:left;}
.css_numero_obj {text-align:left;}
.css_abertura_label { }
.css_abertura_line { }
.css_abertura_obj { }
.css_retorno_label { }
.css_retorno_line { }
.css_retorno_obj { }
.css_origem_label { }
.css_origem_line { }
.css_origem_obj { }
.css_tipoacao_label { }
.css_tipoacao_line { }
.css_tipoacao_obj { }
.css_processo_label { }
.css_processo_line { }
.css_processo_obj { }
.css_responsavel_label { }
.css_responsavel_line { }
.css_responsavel_obj { }
.css_detalhamento_label { }
.css_detalhamento_line { }
.css_detalhamento_obj { }
.css_causas_label { }
.css_causas_line { }
.css_causas_obj { }
.css_imediata_label { }
.css_imediata_line { }
.css_imediata_obj { }
.css_corretiva_label { }
.css_corretiva_line { }
.css_corretiva_obj { }
.css_responsavel_implementacao_label { }
.css_responsavel_implementacao_line { }
.css_responsavel_implementacao_obj { }
.css_eliminacao_label { }
.css_eliminacao_line { }
.css_eliminacao_obj { }
.css_eliminacao_novo_label { }
.css_eliminacao_novo_line { }
.css_eliminacao_novo_obj { }
.css_registro_eficacia_label { }
.css_registro_eficacia_line { }
.css_registro_eficacia_obj { }
.css_eficaz_label { }
.css_eficaz_line { }
.css_eficaz_obj { }
.css_eficaz_data_label { }
.css_eficaz_data_line { }
.css_eficaz_data_obj { }
.css_novo_rnc_label { }
.css_novo_rnc_line {text-align:left;}
.css_novo_rnc_obj {text-align:left;}
.css_obs_label { }
.css_obs_line { }
.css_obs_obj { }
